.btn {
  width: 20%;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  line-height: 48px;
  user-select: none;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  float: left;
}

.btn:hover {
  background: #f0f0f0;
}

.btn:active {
  background: #e0e0e0;
}

#count {
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 60%;
  float: left;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

.tag {
  width: 100px;
  display: inline-block;
  line-height: 50px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #3c3c3c;
  color: #fff;
}
