{
  "presets": [
    ["env", {
      "useBuiltIns": "usage",
      "modules": false
    }]
  ],
  "plugins": [
    "external-helpers"
  ],
  "env": {
    "test": {
      "presets": [["env"]]
    }
  }
}