{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": "usage",
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ]
      ]
    }
  }
}
