.DS_Store
node_modules/
/dist/bundle.js
/src/slim/dist
/src/slim/README.md
/src/vslim/README.md
/src/vslim/dist
/dist/vslim-bundle.js
/docs/.vuepress/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage/
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
